{% extends 'mortgage/layout.html' %}

{% block body %}

	  <div class="jumbotron text-center">	  
	    <h1>Mankato Expense tracking App.</h1>
	    <p>The idea for this webapp was conceived by a group of students living in Mankato area and, we call 306 Family. We came up with the name 'Mankatoexpenses' for this app, because we felt that it defines its purpose as it's main purpose is to facilitate the tracking of common monetory transactions involved among Family members.</p>
      
	    <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
	  </div>
    
           <!-- Team Members Row -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
      <p class="m-0 text-center text-white">Copyright &copy; MankatoExpenses 2017</p>
    <!-- /.container -->
  </footer>
{% endblock %}